.tenth-page
	background-image: url(../images/sec-3-bg-clear.jpg)
	background-size: 100%
	background-repeat: no-repeat
	
	.light-box
		p
			margin: 55px
			
		.jenna-sue
			width: 270px 
			transform: rotate(-2deg)
			margin-left: 168px 

	&.active
		background-image: url(../images/sec-3-bg.jpg)

	.bullet
		background-image: url(../images/bullets/logo-smart-mortgage.png) 
		