.eigth-page
	.title
		position: absolute
		top: 7%
		font-family: 'Gotham Bold'
		font-size: 4rem
		text-transform: uppercase 
		color: $white
		width: 100%
		text-align: center
	.header
		position: absolute
		top: 12%
		font-family: 'Gotham Light'
		font-size: 10rem 
		color: $white
		text-transform: uppercase
		width: 70%
		margin-left: 15%
		border: none
		line-height: 11rem 
	.badges
		position: absolute
		top: 35%
		width: 90%
		height: 10%
		margin-left: 5% 
		color: $white
		display: block
		
	.badge
		width: 13%
		color: $white
		height: auto
		position: absolute
		opacity: 0
		&.active
			@for $i from 1 through 5
				&:nth-child(#{$i})
					animation:
						name: popup
						duration: 300ms
						delay: (150ms * $i) - 150ms
						timing-function: ease-in-out
						fill-mode: forwards
		&-1
			left: 6.666%
			width: 14%
			top: -2px
		&-2
			left: 25.333%
		&-3	
			left: 41.999%
			width: 17%
			top: -7px
		&-4
			left: 62.666%
		&-5
			left: 81.333%
		
	.content
		position: absolute
		color: $white
		font-family: 'Gotham Book'
		font-size: 2rem
		line-height: 4rem
		width: 60%
		margin-left: 20%
		text-align: center
		top: 50%
		 
		