.ninth-page

	background-image: url(../images/sec-9-bg.jpg)
	background-size: 100%
	background-repeat: no-repeat
	.light-box
		p
			top: 110px
			line-height: 5rem

		.jenna-sue
			width: 450px
			margin-left: 75px
			// transform: rotate(-5deg)
			font-size: 5.5rem
			top: 650px
		span
			top: 655px
			
	.circle
		background-color: $dark-green
		img
			margin-top: -15px
			margin-left: -64px
			width: 125px
			height: auto